.videoFooter {
    position: relative;
    color: aliceblue;
    bottom: 110px;
    margin-left: 40px;
    display: flex;
}

.videoFooter__text {
    flex: 1;
}

.videoFooter__text > p {
    padding-bottom: 5px;
}

.videoFooter__text > h4 {
    padding-bottom: 5px;
}

.videoFooter__ticker {
}